@font-face {
  font-family: "AvantGardeGothicITCW01X";
  src: url("https://fast.fonts.net/dv2/3/0312a390-01c7-423e-ad0c-b5b4f25229af.woff?d44f19a684109620e484157fa490e818d3d094ff82d849bed5a0bc0833b7f9ab1fb16847aa3dc723beb5dcbb4076424f8c2035d44e2615940a70d3667b120328f53d14deb6b8f6188692155e504a876ea618a97102922dfaf71906dc62403a80216c5fe392684577d2eb4d2f6e8decc06b553643b7f069b9e70946cef3ef02a00979c40a14df1ae421ad3aba652fc3b660649c16feb9787281defb56a07ff04e03a5ae&projectId=d79d35ef-c0b5-4206-bb12-c5e4b05efcd4") format('woff');
}

@font-face {
  font-family: "AvantGardeGthcITCW01XLt";
  src: url("https://fast.fonts.net/dv2/3/cbcc0864-520a-4f87-ae06-18e3c2126319.woff?d44f19a684109620e484157fa490e818d3d094ff82d849bed5a0bc0833b7f9ab1fb16847aa3dc723beb5dcbb4076424f8c2035d44e2615940a70d3667b120328f53d14deb6b8f6188692155e504a876ea618a97102922dfaf71906dc62403a80216c5fe392684577d2eb4d2f6e8decc06b553643b7f069b9e70946cef3ef02a00979c40a14df1ae421ad3aba652fc3b660649c16feb9787281defb56a07ff04e03a5ae&projectId=d79d35ef-c0b5-4206-bb12-c5e4b05efcd4") format('woff');
}

@font-face {
  font-family: "AvantGardeGothicITCW01B 731069";
  src: url("https://fast.fonts.net/dv2/3/c68f0543-0caf-4988-b234-355520476b8c.woff?d44f19a684109620e484157fa490e818d3d094ff82d849bed5a0bc0833b7f9ab1fb16847aa3dc723beb5dcbb4076424f8c2035d44e2615940a70d3667b120328f53d14deb6b8f6188692155e504a876ea618a97102922dfaf71906dc62403a80216c5fe392684577d2eb4d2f6e8decc06b553643b7f069b9e70946cef3ef02a00979c40a14df1ae421ad3aba652fc3b660649c16feb9787281defb56a07ff04e03a5ae&projectId=d79d35ef-c0b5-4206-bb12-c5e4b05efcd4") format('woff');
}

@font-face {
  font-family: "AvantGardeGothicITCW01B 731072";
  src: url("https://fast.fonts.net/dv2/3/7571e8e6-97a2-48aa-97c1-b8aeeefc5409.woff?d44f19a684109620e484157fa490e818d3d094ff82d849bed5a0bc0833b7f9ab1fb16847aa3dc723beb5dcbb4076424f8c2035d44e2615940a70d3667b120328f53d14deb6b8f6188692155e504a876ea618a97102922dfaf71906dc62403a80216c5fe392684577d2eb4d2f6e8decc06b553643b7f069b9e70946cef3ef02a00979c40a14df1ae421ad3aba652fc3b660649c16feb9787281defb56a07ff04e03a5ae&projectId=d79d35ef-c0b5-4206-bb12-c5e4b05efcd4") format('woff');
}

@font-face {
  font-family: "AvantGardeGothicITCW01M 731087";
  src: url("https://fast.fonts.net/dv2/3/43b723ac-a6f2-4d5d-9d72-c50aea85ecee.woff?d44f19a684109620e484157fa490e818d3d094ff82d849bed5a0bc0833b7f9ab1fb16847aa3dc723beb5dcbb4076424f8c2035d44e2615940a70d3667b120328f53d14deb6b8f6188692155e504a876ea618a97102922dfaf71906dc62403a80216c5fe392684577d2eb4d2f6e8decc06b553643b7f069b9e70946cef3ef02a00979c40a14df1ae421ad3aba652fc3b660649c16feb9787281defb56a07ff04e03a5ae&projectId=d79d35ef-c0b5-4206-bb12-c5e4b05efcd4") format('woff');
}

@font-face {
  font-family: "AvantGardeGothicITCW01M 731090";
  src: url("https://fast.fonts.net/dv2/3/8513e971-f071-42cc-9f20-914ffc672da4.woff?d44f19a684109620e484157fa490e818d3d094ff82d849bed5a0bc0833b7f9ab1fb16847aa3dc723beb5dcbb4076424f8c2035d44e2615940a70d3667b120328f53d14deb6b8f6188692155e504a876ea618a97102922dfaf71906dc62403a80216c5fe392684577d2eb4d2f6e8decc06b553643b7f069b9e70946cef3ef02a00979c40a14df1ae421ad3aba652fc3b660649c16feb9787281defb56a07ff04e03a5ae&projectId=d79d35ef-c0b5-4206-bb12-c5e4b05efcd4") format('woff');
}

@font-face {
  font-family: "AvantGardeGothicITCW01D 731075";
  src: url("https://fast.fonts.net/dv2/3/c18aee57-7585-4a8b-9a1c-69d226301d73.woff?d44f19a684109620e484157fa490e818d3d094ff82d849bed5a0bc0833b7f9ab1fb16847aa3dc723beb5dcbb4076424f8c2035d44e2615940a70d3667b120328f53d14deb6b8f6188692155e504a876ea618a97102922dfaf71906dc62403a80216c5fe392684577d2eb4d2f6e8decc06b553643b7f069b9e70946cef3ef02a00979c40a14df1ae421ad3aba652fc3b660649c16feb9787281defb56a07ff04e03a5ae&projectId=d79d35ef-c0b5-4206-bb12-c5e4b05efcd4") format('woff');
}

@font-face {
  font-family: "AvantGardeGothicITCW01D 731078";
  src: url("https://fast.fonts.net/dv2/3/4e9994cb-061f-4678-850d-527f1d636f44.woff?d44f19a684109620e484157fa490e818d3d094ff82d849bed5a0bc0833b7f9ab1fb16847aa3dc723beb5dcbb4076424f8c2035d44e2615940a70d3667b120328f53d14deb6b8f6188692155e504a876ea618a97102922dfaf71906dc62403a80216c5fe392684577d2eb4d2f6e8decc06b553643b7f069b9e70946cef3ef02a00979c40a14df1ae421ad3aba652fc3b660649c16feb9787281defb56a07ff04e03a5ae&projectId=d79d35ef-c0b5-4206-bb12-c5e4b05efcd4") format('woff');
}

@font-face {
  font-family: "AvantGardeGothicITCW01B 731063";
  src: url("https://fast.fonts.net/dv2/3/e9a79553-7093-47c7-8d9c-70dc3619e94b.woff?d44f19a684109620e484157fa490e818d3d094ff82d849bed5a0bc0833b7f9ab1fb16847aa3dc723beb5dcbb4076424f8c2035d44e2615940a70d3667b120328f53d14deb6b8f6188692155e504a876ea618a97102922dfaf71906dc62403a80216c5fe392684577d2eb4d2f6e8decc06b553643b7f069b9e70946cef3ef02a00979c40a14df1ae421ad3aba652fc3b660649c16feb9787281defb56a07ff04e03a5ae&projectId=d79d35ef-c0b5-4206-bb12-c5e4b05efcd4") format('woff');
}

@font-face {
  font-family: "AvantGardeGothicITCW01B 731066";
  src: url("https://fast.fonts.net/dv2/3/dc20a858-c78b-4d4e-b595-9f2981f7fb01.woff?d44f19a684109620e484157fa490e818d3d094ff82d849bed5a0bc0833b7f9ab1fb16847aa3dc723beb5dcbb4076424f8c2035d44e2615940a70d3667b120328f53d14deb6b8f6188692155e504a876ea618a97102922dfaf71906dc62403a80216c5fe392684577d2eb4d2f6e8decc06b553643b7f069b9e70946cef3ef02a00979c40a14df1ae421ad3aba652fc3b660649c16feb9787281defb56a07ff04e03a5ae&projectId=d79d35ef-c0b5-4206-bb12-c5e4b05efcd4") format('woff');
}
