<div class="col-xs-12 col-md-8 col-md-offset-2">
  <h1 class="text-center">Terms and Conditions</h1>
  <br/>
  <p>These Terms and Conditions constitute a binding agreement between You and Edgefolio whereby Edgefolio agrees to provide to the User, and the User agrees to license and use, the Services, in each case only in accordance with these Terms and Conditions.</p>

  <p>By accessing and/or using the Services, You acknowledge that You have read, understood and agree to abide by the terms contained herein. Acceptance takes effect immediately upon first use of the Services.</p>
  <p>Edgefolio reserves the right to amend and update these Terms and Conditions at any time without prior notice to You by posting changes on the Website. You acknowledge that your continued use of the Services after any such amendment constitutes acceptance of such revised Terms and Conditions.</p>
  <p>By using the Services You acknowledge your agreement with and understanding of the Terms and Conditions. If You do not adhere to these Terms and Conditions for any reason, you acknowledge that your sole and exclusive remedy is to terminate your use of the Services. Your compliance with these Terms and Conditions is a prerequisite to your right to access the Services. Breach of these Terms and Conditions will immediately and automatically, without any notice or other action, revoke and terminate your right to access the Services and you will be fully liable for any loss, damages, liabilities and other causes arising directly or indirectly from or relating to your continued use of the Services after such breach.</p>

  <ol>
    <li>
      <h3>Defined Terms</h3>
      <p>“Automated Software” means any software, programme or system that operates by automatic means which requires minimal or no human intervention, colloquially referred to as ‘web crawlers’ or ‘robots’.</p>
      <p>“Edgefolio,” “We” or “Us” means Edgefolio AS, [list other entities] or their respective affiliates, subsidiaries and designees as deemed appropriate by Edgefolio, together with their officers, directors, employees or agents.</p>
      <p>[“FCA” means the Financial Conduct Authority (UK).]</p>
      <p>[“FISMA” means the Financial Services and Markets Act 2000 (UK), as amended from time to time.]</p>
      <p>[“ICA” means the Investment Company Act 1940 (US), as amended from time to time.]</p>
      <p>“Information” means any information or data contained in or derived from the Services or otherwise howsoever provided by Edgefolio to the User.</p>
      <p>“Losses” means damages, losses, liabilities, obligations, claims or expenses (including third party legal fees).</p>
      <p>“Order” means Financial Services & Markets Act 2000 (Promotion of Collective Investment Schemes) (Exemptions) Order 2001 (UK), as amended from time to time.</p>
      <p>“Services” means the Website and any and all content and services available therein.</p>
      <p>“Terms and Conditions” means these terms and conditions, as such may be amended and updated from time to time at the discretion of Edgefolio.</p>
      <p>“UK” means the United Kingdom.</p>
      <p>“US” means the United States of America.</p>
      <p>“User” or “You” means any person who has registered and established a username to enter and use the Website.</p>
      <p>“Website” means www.edgefolio.com.</p>
    </li>

    <li>
      <h3>No Investment Advice, Offer or Recommendation</h3>
      <p>The Service is for the User’s personal and informational purposes only and does not constitute nor should it be construed as a solicitation or offer, or recommendation to acquire or dispose of any investment or to engage in any other transaction, or advice of any nature whatsoever.<br/>
         The Information is subject to change without notice. Nothing in the Information or Services constitutes, nor should it be construed as, investment, legal, tax or other advice.</p>

      <p>If You are seeking advice rather than information, You should contact an independent advisor. By using the Services you agree that You will not claim any liability against or seek compensation from Edgefolio for any decisions that You make or elect not to make through directly or indirectly using the Services.</p>
    </li>

    <li>
      <h3>No Reliance</h3>
      <h4>In using the Services you acknowledge and agree that:</h4>
      <p>(a) notwithstanding Edgefolio using reasonable endeavours to ensure the reliability of the sources from which the Information is provided, it makes no representation or warranty in relation to the Information being accurate, complete, reliable or up-to-date;</p>
      <p>(b) If You believe that any Information is false, inaccurate or in any way misrepresented, You will notify Edgefolio immediately and provide such assistance and information as is reasonably required by Edgefolio in order for Edgefolio to evaluate the accuracy of your opinion and, if possible, amend or correct such Information that may be false, inaccurate or misrepresented; and</p>
      <p>(c) You agree not to bring any claim or action in respect of any such information being false, inaccurate or misrepresented.</p>
    </li>

    <li>
      <h3>Licence and Use of Information</h3>
      <h4>The User undertakes not to:</h4>
      <p>(a) publish, copy, share, resell, disclose, distribute or otherwise circulate any Information in any form to any third party ; </p>
      <p>(b) download any Information onto computers, disks, media or other electronic devices other than temporary devices for printing purposes;
         in each case other than by virtue of the licence granted hereunder and in accordance with these Terms and Conditions or with the written consent of Edgefolio.</p>
      <p>Edgefolio grants the User a limited, non-exclusive, non-transferable licence to access and utilise the Services and any Information solely for its own internal business purposes in accordance with these Terms and Conditions.</p>
    </li>

    <li>
      <h3>All rights not specifically granted to to the User are hereby retained by Edgefolio.</h3>
      <p>The aforementioned licence allows the User the following rights in relation to the Information: </p>
      <p>(a) limited excerpts of Information in reports and presentations circulated for the User’s internal purposes; </p>
      <p>(b) with the prior written consent of Edgefolio, limited excerpts of Information in printed media circulated to the User’s clients or investors, provided such clients and/or investors are notified of and agree to the restrictions as to disclosure and use of the Information referenced herein;</p>
      <p>(c) with the prior written consent of Edgefolio (not to be unreasonably withheld), use or disclosure of Information or reference to the Services in any format to third parties, provided that in all circumstances, the User shall reference Edgefolio as the source of the Information and/or Services in a format acceptable to Edgefolio;</p>
      <p>(d) downloading of Information relating to Hedge Funds, to be used exclusively by the User provided that, for the avoidance of doubt, such Information may not be downloaded by the User and circulated to third parties without the prior written consent of Edgefolio, provided that, in all cases, any printout, hard copy or other electronic copy made of any Information shall at all times include Edgefolio’s copyright notice.</p>
      <p>The User undertakes to fully cooperate with Edgefolio to protect Edgefolio’s copyright and other rights as described herein should the User become aware or suspect that any of the foregoing conditions have been breached.</p>
    </li>

    <li>
      <h3>Ownership and Use of Services</h3>
      <h4>The User acknowledges that:</h4>
      <p>(a) the Services and Information (including, without limitation, images, illustrations, icons, photographs, programmes, text, data, designs, downloads, news and financial market information, video clips and other media), copyrights and other intellectual property rights embodied therein are the property of Edgefolio and [are protected under patent, copyright, trade secret and other intellectual property laws] ;</p>
      <p>(b) considerable time, resource and effort have been expended by Edgefolio and its suppliers in producing, compiling and developing the Services and Information; </p>
      <p>(c) the names, images and logos identifying Edgefolio and its products, Services and Information are the proprietary marks of Edgefolio and accordingly, nothing herein shall be construed as conferring (explicitly or implicitly) any licence or right under any trademark or patent of Edgefolio. </p>
      <h4>The User undertakes not to:</h4>
      <p>(a) disclose its username and password to anyone;</p>
      <p>(b) amend, alter, disassembly, copy or duplicate the Services (in whole or in part) (or seek to do any of the aforementioned); </p>
      <p>(c) transfer, lease, assign, sell, licence, sub-licence, act as agent of, represent, distribute or in any way grant any interest or right in, the Services to any third party; </p>
      <p>(d) remove, delete or obstruct any of Edgefolio’s proprietary rights and interests in the Services and the Information; nor</p>
      <p>(e) commercially exploit the Services or otherwise use the Services, in each case other than in accordance with these Terms and Conditions.</p>

      <p>Specifically, use of the Services is intended solely for individual use and the use of Automated Software to access the Services and/or download any Information is expressly prohibited.</p>
      <p>By using the Services you acknowledge that breach of the aforementioned terms constitutes grounds for Edgefolio to immediately deny the User access to the Services and could result in liability for the User and/or compensation to Edgefolio.</p>
      <p>In addition, the User hereby acknowledges that it is its responsibility to preserve the confidentiality of its username and password and undertakes to immediately inform Edgefolio should it suspect that a third party has knowledge of its username and/or password. In addition, the User shall immediately change its username and/or password and take all reasonable steps to preserve the confidentiality of its new username and/or password should its original username and/or password have been disclosed to a third party.</p>
      <p>In using the Services you acknowledge that by accessing certain links that are available on the Website, you may be directed to other websites. Edgefolio has not reviewed any of these other websites and accordingly, neither endorses such websites nor assumes any responsibility or liability in respect of any content, services, products or other items referenced on such websites.</p>
    </li>

    <li>
      <h3>Disclaimers</h3>
      <p>By using the Services and Information, the User expressly agrees that such use is at his/her/its own risk.</p>
      <p>The Services and Information made available via the Website are directed only at those persons to whom they may legally be directed. No natural or legal person should read or otherwise use or rely on any of the Services or Information if to do so would be in breach of any laws or regulations.</p>
      <p>US Users: The Information is only available to “qualified purchasers” as defined in Section 2(a)(51(A) of the ICA that subscribe to the [Edgefolio Secondary Market Monitor Service]. It is not available to the public.</p>
      <p>Notwithstanding the fact that Edgefolio has obtained the Information from sources believed to be reliable, Edgefolio does not provide any representation, warranty or guarantee as to the accuracy or reliability of the Information. It is the User’s responsibility to verify the Information. [The securities that may be referenced in the Information are more fully described in the documents prepared by the fund managers and Edgefolio strongly recommends that the User request and review such Information directly from the provider.]</p>
      <p>UK Users: The Information relates to [interests in private partnerships which are unregulated collective investment schemes] for the purposes of FISMA. Promotion of these interests is prohibited unless conducted in accordance with the Order or FCA pursuant to its powers under section 238(5) of FISMA.</p>
      <h4>The Information is directed at:</h4>
      <p>(a) persons reasonably believed by Edgefolio to be ‘investment professionals’ (as defined in Article 14 of the Order). This category includes (i) persons authorised under FISMA; (ii) persons exempt from the requirement to be so authorised; (iii) governments, local authorities and international organisations (as defined in Article 14(7) of the Order); and (iv) persons having high professional experience of participating in unregulated collective investment schemes; and</p>
      <p>(b) ‘high net worth bodies’ as defined in Article 22 of the Order. This category includes (i) companies having net assets or called-up share capital of at least £5 million (or £500,000, if subsidiaries of a company with 20 or more members); (ii) unincorporated associations having net assets of at least £5 million; and (iii) trustees of trusts holding cash and cash investments exceeding £10 million in value at any time in the preceding 12 month period.</p>
      <p>The Information and Services are not being directed at other categories of person and no-one falling outside such categories should rely on any of the Information or Services. The transmission of this communication to any person in the United Kingdom other than the categories stated above is unauthorised and may contravene FISMA.</p>
      <p>In using the Services and Information, the User warrants that he/she/it is not violating or facilitating the violation of any applicable local, national, or international law, statute, regulation, code or ordinance, including, without limitation, regulations promulgated by or the rules of any national or other securities exchange. The permission to use the Services and Information, and the licence granted hereunder, terminates immediately if the User breaches any of these Terms and Conditions.</p>
    </li>

    <li>
      <h3>Limitation of Liability</h3>
      <h4>The User acknowledges and agrees that:</h4>
      <p>(a) in providing the Information, Edgefolio relies on third party sources that are believed to be reliable – however, it does not verify the accuracy, completeness or timeliness of the Information and accordingly provides no representation, warranty or guarantee in relation thereto; </p>
      <p>(b) use of the Services and any Information is for personal and informational purposes only and not for the purposes of making investment decisions;</p>
      <p>(c) any decision made by the User in relation to the Services and/or Information is made at the sole risk of the User and Edgefolio assumes no liability in relation thereto; </p>
      <p>(d) nothing contained in the Services or the Information shall be construed as a solicitation or recommendation to buy, sell, or otherwise invest in any security;</p>
      <p>(e) the Services and Information are being provided with no warranty or representation of any kind. The User accordingly waives any representation (either express or implied) relating to the Services and/or Information and agrees that it uses the Services and Information at its own risk;</p>
      <p>(f) Edgefolio shall not be liable for any loss or damage resulting (directly or indirectly) in any way from any misrepresentation, inaccuracies, delays, errors, omissions, errors, losses, claims, liabilities or other damages related or or resulting from the use of the Services and/or Information;</p>
      <p>(g) Edgefolio shall not be liable for any special, consequential, exemplary or punitive damages, including, but not limited to, loss of profits, whether or not it or they are aware of the possibility thereof;</p>
      <p>(h) the User shall be prevented from bringing any action relating to the Services and/or the Information at any time after the date falling one year after the date on which the event giving rise to such action occurred.</p>
      <p>Under no circumstances will Edgefolio be liable to the User or any other party for any direct, consequential, incidental, special, exemplary, punitive or other indirect damages, including but not limited to lost profits, lost data, trading losses, unauthorised acces, internet failure, or damages that result from the use or loss of use of the Services, Information and/or Website, or any breach of these Terms and Conditions, regardless of whether or not Edgefolio has been advised of such damages or losses.</p>
      <p>Any material downloaded to a User’s computer or other electronic system is done solely at the User’s own discretion and risk and Edgefolio shall not be responsible for any damage done to any such computer or system.</p>
    </li>

    <li>
      <h3>Indemnity</h3>
      <p>The User agrees to indemnify, defend and hold harmless Edgefolio against any Losses it incurs to the arising (directly or indirectly) from:</p>
      <p>(a) any breach of these Terms and Conditions by that User; and</p>
      <p>(b) any breach of any laws or regulations,</p>
      <p>other than, in each case, any Losses that resulted from the fraud, wilful misconduct or gross negligence of Edgefolio.</p>
    </li>

    <li>
      <h3>Data Protection and Privacy</h3>
      <p>The User acknowledges that in order to provide the Services, Edgefolio is required to maintain a database of User information and, in using the Services, the User agrees to allow Edgefolio to collate and use information pertaining to the User.</p>
      <p>[Edgefolio shall register under and (if applicable) comply with the Data Protection Act 1998 (as amended from time to time). ]</p>
      <p>The User also acknowledges that certain features of the Services store information in “cookies” and in using the Services, You consent to those cookies being set. More details are available in our Privacy Policy.</p>
      <p>Any use of the Services and/or the Information is governed by our Privacy Policy. Your use of the Services and/or the Information constitutes your confirmation that you have read and accepted the Privacy Policy.</p>
    </li>

    <li>
      <h3>Anti Bribery</h3>
      <p>Edgefolio shall, and shall procure that any person who performs services on behalf of Edgefolio shall:comply with all applicable laws, statutes, regulations and codes relating to anti-bribery and anti-corruption, including but not limited to the Bribery Act 2010. In the event of any breach of this condition or the commission of any offence by Edgefolio under the Bribery Act 2010 or any similar legislation, the User may terminate its relationship with Edgefolio immediately by notice in writing to Edgefolio.</p>
    </li>

    <li>
      <h3>Miscellaneous</h3>
      <p>(a) Notices: Any notice or communication delivered in relation to these Terms and Conditions shall be in writing and shall be delivered by hand, registered post or telefacsimile.</p>
      <p>(b) Equitable relief: should the User’s breach or potential breach of the provisions contained herein constitute irreparable harm, the User acknowledges that financial damages may be considered insufficient and an inappropriate remedy and accordingly, Edgefolio may be entitled (entirely at its discretion) to seek injunctive or other appropriate equitable relief.</p>
      <p>(c) Assignment: The User may not assign or otherwise transfer any of its rights, duties or obligations under these Terms and Conditions and/or in relation to the Services and/or Information (in part or whole) to any other party (whether such party is a department, associate or affiliate of the User) without the prior written consent of Edgefolio.</p>
      <p>(d) Severability: Each provision of these Terms and Conditions is serverable from others and if any shall be held by any court to be invalid or unenforceable, the remaining terms and conditions shall remain valid, legal, enforceable and in full force and effect.</p>
      <p>(e) Entire Agreement & Amendments: These Terms and Conditions constitute the entire agreement between Edgefolio and the User. They may be amended at any time by Edgefolio posting any amendments on its Website.</p>
      <p>(f) Governing Law: These Terms and Conditions (and any modification in relation thereto) are governed by and are to be construed in accordance with Norwegian law, without giving effect to any conflict of law provisions.</p>
      <p>(g) Jurisdiction: The User agrees the exclusive jurisdiction of the Norwegian courts provided that Edgefolio may elect to bring proceedings in other jurisdictions of its choice.</p>
    </li>
  </ol>
</div>