@import "../../common/variables/all";

/////// HEADER ------------------------------------------------------------------------------------------------------
header {
  float: left;
  font-weight: 300;
  background: url(/assets/whitelabel/images/investor_app/bg.png) $white;
  width: 100%;
}
